@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  font-weight: 700;
  font-size: 28px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
}

ul {
  list-style: unset;
}

ol {
  list-style: decimal;
}
